* {
    font-family: sans-serif;
    user-select: none;
}

/* ============================
   BODY
============================ */
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

strong {
    user-select: inherit;
    font-family: inherit;
    font-size: inherit;
    color: red;
    animation: rainbow 5s infinite linear;
    height: fit-content;
}

@keyframes rainbow {
    from{
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

/* ============================
   HEADER
============================ */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #ff9ab3, #fac4c4);
    height: 20dvh;
    margin: 0;
}

.header span {
    color: white;
    font-weight: 900;
    font-size: 10dvw;
}

/* Small Header (letters) */
.sp-header {
    display: flex;
    align-items: center;
    background: linear-gradient(45deg, #ff9ab3, #fac4c4);
    height: 10dvh;
    margin: 0;
}

/* ============================
   MAIN GRID
============================ */
.main {
    display: flex;
    flex-wrap: wrap;
    width: calc(100dvw - 2rem);
    min-height: min-content;
    margin: 1rem;
    background: #ffd3d3;
    justify-content: center;
    border-radius: 16px;
}

/* ============================
   BUTTON
============================ */
.button {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #ff9ab3;
    margin: 1rem;
    padding: 1rem;
    border-radius: 16px;

    cursor: pointer;
    text-decoration: none;
    color: white;

    transition: all 300ms;
}

.button:hover {
    transform: translateY(-5px) scale(105%);
    box-shadow: 0px 5px 12px #e0abb8;
}

.button img {
    background: white;
    width: 40dvh;
    height: 20dvh;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 6px;
}

.button span {
    font-weight: bold;
}

/* ============================
   RETURN BUTTON
============================ */
.return {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    background: white;
    height: 7.5dvh;
    width: 7.5dvh;
    margin: 1rem;
    border-radius: 100%;

    color: black;
    text-decoration: none;

    transition: all 300ms;
}
.return:hover {
    transform: scale(110%);
    box-shadow: 0px 0px 12px #de7ea0;
}

.return::after {
    content: '';
    position: absolute;

    width: 1.5dvh;
    height: 1.5dvh;

    border: 4px solid #ff9ab3;
    border-top: none;
    border-right: none;

    transform: rotate(45deg);
    margin-right: -0.2rem;
}

.letter {
    user-select: text;

    display: flex;
    justify-content: center;

    margin: 1rem;
    padding: 2rem;

    background-image: url('./letter.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 75dvh;
    width: 50dvw;

    box-shadow: 0px 0px 24px #e0abb8;
}

.letter span {
    user-select: text;
    color: rgb(32, 32, 32);
    font-family: 'segoe script';
    font-size: 1.5rem;
    text-align: justify;
    overflow: hidden;
}