* {
    font-family: sans-serif;
    user-select: none;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #ff9ab3, #fac4c4);
    height: 20dvh;
    margin: 0;
}

.header span {
    color: white;
    font-weight: 900;
    font-size: 10dvh;
}